beautifulsoup4==4.12.3
matplotlib==3.9.2
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
Requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
steamreviews==0.9.5
tensorflow==2.14.1
transformers==4.46.3

# Optional for apple silicon users
# tensorflow_macos==2.14.1
# tensorflow-metal==1.1.0

# TODO: fix this requirements.txt file to align with current versions of libraries